@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400italic,700,900|Raleway:500|Martel+Sans:400,700);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "codropsicons";
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg"); }
.about {
  width: 70%;
  background-color: white;
  margin: 0 auto; }
  .about h1 {
    padding-top: 115px;
    width: 87%;
    margin: 0 auto;
    padding-bottom: 10px; }
  .about h2 {
    width: 87%;
    margin: 0 auto;
    padding-bottom: 10px; }
  .about p {
    width: 87%;
    margin: 0 auto; }

.car2 {
  background-image: url("../img/sarga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 370px; }
  .car2 .item {
    margin-top: 8%;
    margin-left: 10%;
    color: white; }

.carousel-inner .item img {
  width: 55px;
  float: none;
  margin-right: 0px; }
.carousel-inner .item p:nth-child(3) {
  font-weight: bold;
  line-height: 20px;
  float: none;
  margin: 0px; }

.main {
  height: 425px; }

.carousel-indicators {
  top: 291px;
  left: 0%;
  padding-left: 0px;
  margin-left: 0px;
  text-align: left;
  margin-left: 10%; }
  .carousel-indicators li {
    background-color: rgba(222, 222, 222, 0.34); }

.carousel-indicators .active {
  background-color: white; }
